

  section:not(:nth-child(2)){
      text-align: center;
      color: #515751;
    font-family: 'Oswald Light';
    letter-spacing: 2.5px;
  }

  body{      
    text-transform: uppercase;
  }
 

.title h1{    
    text-transform: lowercase;
    letter-spacing: 10px;
    font-family:'Roboto Condensed';
    font-size: 2.7rem;    
    text-align: right;
    white-space: nowrap;
}

.roboto_title{
    font-size:large;

}

.list-item, .list-subitem{
    font-family: 'Roboto Condensed';
    font-size: xx-large;    
    text-transform: lowercase;
    text-align: center;
}
/*.list-item:hover{
font-weight: bold;
}*/
#intro-section a{
    color: var(--black);
    text-decoration: none;
}
#intro-section a:hover{
    text-decoration: none;
    
    font-weight: normal;
}

.display-none{
    display: none;
}
#intro-section img{
    height: 700px;
}

#WORK .work-symbols img, #WORK .work-folk img{
    height: 600px;
}

section a, section a:hover{
    /* color: darkcyan; */
    text-decoration: none;
    text-decoration: underline;
    color: #515751;
}

.shows_pictures img{
    height:400px;   
    margin-bottom: 1vh !important;
}
 
section .row div h1{
    margin-bottom:4vh ;
    font-family:'Bungee Inline';
    font-size: 4rem;
    color: #36453b;
}

section .row div h3{
    margin-bottom:8vh;
    font-family:'Bungee Shade';
    font-size: 2rem;
}

section .row div h4{
    margin-bottom:4vh;
    font-family:'Fugaz One';
    font-size: 1.5rem;
}

section .row div img{
    margin-bottom:4vh ;
    margin-top:4vh
}

.empty-vertical-space1{    height: 64vh;}
.empty-vertical-space2{    height: 32vh;}
.empty-vertical-space3{    height: 16vh;}
.empty-vertical-space4{    height: 8vh;}

footer{
    text-align: right; 
    padding-right: 1em;
    padding-bottom: 0.5em; 
    font-size:  x-small;  
}
footer a {
    color: #f5f9e9;
}

footer,  section#contact, section#me {
    background-color:#36453b;
    color: #f5f9e9;
    
}

section#contact a,  section#contact a:hover{
    color: #f5f9e9;
    text-decoration: none;
}


@media only screen and (max-width: 768px) 
{
    .empty-vertical-space-alternative
    {
        height: 1vh;
    } 
    .title h1{     
        letter-spacing: 5px; 
        font-size: xx-large;   
        text-align: center; 
    }

    .list-item, .list-subitem{ 
        font-size: x-large;      
    }

    #intro-section img{
        height: 500px;
        margin-top: 50px;
        text-align: right;
    }

}

@media only screen and (min-width: 769px) 
{
    .empty-vertical-space-alternative
{
    height: 16vh;
    
} 
}

